* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100vh;
}

.container{
    min-width: 200px;
    height: 100%;
    overflow: none;
    display: flex;
    flex-direction: row;
}

.left-container{
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 48, 48);
}
.right-container{
    flex-grow: 2;
}

.login-logo{
   width: 310px;  
}

form{
    
}